<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41714885656-la748tv1hd76jg62u08j01vfpek7gg3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41714885656-la748tv1hd76jg62u08j01vfpek7gg3n</string>
	<key>API_KEY</key>
	<string>AIzaSyDGXrMqKblAWNvLDK7CKR9v0n5oNDLkhh0</string>
	<key>GCM_SENDER_ID</key>
	<string>41714885656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.halilyas.Tinder</string>
	<key>PROJECT_ID</key>
	<string>tinder-61aba</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-61aba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41714885656:ios:3a7a6f1fa1361170224f6d</string>
</dict>
</plist>